<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title><%= title %></title>
	<%- include('partials/maincss') %>
</head>
<body>

	<%- include('partials/navigation') %>

	<main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
		<section class="about_section">
			<h1 class="display-1">About </h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas tempus elementum arcu, non sagittis lorem accumsan vel. Pellentesque eu metus tempor, congue felis quis, vehicula elit. Vestibulum imperdiet sodales urna, vitae lobortis dolor sodales vel. Phasellus vitae ex id sapien aliquet finibus. Aenean molestie leo vitae massa scelerisque fringilla. Nunc rutrum cursus nulla. Cras condimentum hendrerit lorem, id imperdiet nisl feugiat ut.

Integer at arcu sit amet sem porttitor finibus. Vestibulum pretium sit amet tortor mattis pulvinar. Cras vitae interdum eros, sed laoreet enim. Maecenas neque neque, commodo vitae metus at, dignissim semper augue. Mauris et porta erat. Phasellus pretium facilisis ex sit amet molestie. Donec in venenatis ex.

Maecenas ut leo maximus nunc imperdiet tempus. In mollis mi vel neque euismod rutrum. Aliquam ultrices volutpat magna, scelerisque egestas dui vestibulum et. Curabitur pharetra mauris felis, sit amet placerat augue feugiat et. Proin vulputate purus nec bibendum volutpat. Duis semper augue sapien, ut porta ipsum rutrum viverra. Nunc est neque, malesuada et ex nec, venenatis tristique ante.

Etiam pellentesque imperdiet leo. In hac habitasse platea dictumst. Mauris sit amet est molestie, gravida orci ac, convallis neque. Ut feugiat hendrerit augue eget viverra. Praesent egestas ullamcorper cursus. Morbi quis mollis lectus. Duis ac erat fringilla, dignissim risus vitae, tristique risus. Maecenas vel libero leo. Integer tempus ut purus vitae commodo. Nulla in tincidunt massa, vitae dapibus velit. Curabitur interdum eros risus, elementum ornare libero consectetur non.

Mauris vitae velit bibendum, elementum mi eu, pellentesque nulla. Pellentesque rutrum erat sit amet mauris maximus cursus. In hac habitasse platea dictumst. Phasellus placerat felis at mi scelerisque sollicitudin. Fusce vehicula condimentum nisi, eget faucibus massa tempus in. Nunc suscipit congue diam sit amet suscipit. Aliquam ut sapien sit amet urna rutrum tempus et quis nisi. Suspendisse finibus nec odio eu suscipit. Morbi pulvinar ex nec leo elementum interdum. Suspendisse sit amet diam sollicitudin, varius leo vitae, facilisis lacus. Maecenas maximus nulla vel posuere volutpat.</p>
		</section>
	</main>
	
	<%- include('partials/footer') %>

</body>
</html>